body {
    font-family: 'Roboto';
    background-color:#000;

    
}
.nav-container {
    height: 12vh;
    background-color:#000;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    maring-top: 20px;
    color: #fff;

}.navbar-nav-items {
    margin-top: 20px;
}

#via-image {
   height: 100px;
   width:200px;
}
.navbar-navigation {
    display: flex;
}